.signin-container {
    background-image: url('signin.svg'); /* Replace with your actual image URL */
    background-size:contain;
    background-position: center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    padding: 2rem;
    filter: brightness(1.2);
}

.backButton{
    font-family: Evolventa;
}

.boldText{
    font-family: Poppins;
}

