/* 
.bg-container{
  background-color:  #dee1e58a;   
} */

.bg-container {
  background-image:   
  radial-gradient(ellipse at top right, rgba(183, 89, 255, 0.562)15% 450px, rgba(195, 118, 255, 0)35% ),
  radial-gradient(ellipse at bottom left,rgba(183, 89, 255, 0.562)25% 450px, rgba(195, 118, 255, 0) 45% ),

  linear-gradient(to bottom, rgba(149, 57, 219, 0.25), rgba(42,60,87,0.4)),
  linear-gradient(135deg, #030712, #232178);
  backdrop-filter:blur(150px);
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.form-control:focus, .form-control:active {
  background: transparent;
}

.form-control {
  width: 600px;
  fill: none;
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid grey; */
  font-size: 18px;
  margin-bottom: 16px;
}
