.home-container {
   
    border-radius: 0px 0px 5rem 5rem;
}

@media only screen and (max-width:767px) {
    .home-container {
        background-size: cover !important;  
        padding-bottom: 25px;
        border-radius: 0px 0px 2rem 2rem;
    }
}
body{
    background-color: rgba(139, 148, 173, 0.51)
}
.button{
    font-family: Evolventa;
}

.banner {
    @apply bg-[url('img.svg')] bg-no-repeat w-full bg-cover bg-center pb-36 brightness-110;
  }
    
.try-button{
    margin-top: 5%;
}
.text-container{
    margin-left: 8%;
    margin-top: 8%;
}