.forgot-container{
        background-image: url('forgot-bg.svg'); /* Replace with your actual image URL */
        background-size:cover;
        background-position: center;
        height: 100vh; /* Ensure the background covers the entire viewport height */
        width: 100vw;
        padding-top: 2rem;
        filter: brightness(1.2);
        background-position: center;
}