@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Evolventa";
    src: local("Evolventa-Bold"),
    url("./fonts/EVOLVENTA-BOLD.TTF") format("truetype");
  }

@font-face{
  font-family: "Evolventa-regular";
  src: local("Evolventa-regular"),
  url("./fonts/EVOLVENTA-REGULAR.TTF") format("truetype");
}
  
@font-face{
  font-family: "Inter";
  src: local("Inter-Bold"),
  url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "Inter-Regular";
  src: local("INTER-REGULAR"),
  url("./fonts/INTER_REGULAR.TTF") format("truetype");
}

@font-face{
  font-family: "Inter-Semibold";
  src: local("INTER-SEMIBOLD"),
  url("./fonts/INTER-SEMIBOLD.TTF") format("truetype");
}

@font-face{
  font-family: "Poppins";
  src: local("Poppins-Bold"),
  url("./fonts/POPPINS-BOLD.TTF") format("truetype");
}

@font-face{
  font-family: "Raleway";
  src: local("Raleway-Regular"),
  url("./fonts/RALEWAY-REGULAR.TTF") format("truetype");
}